.title
  +bold
  font-size: 5.714rem
  line-height: 6.142rem
  text-transform: uppercase

.subtitle
  &-right
    display: block
    +light
    font-weight: 200
    font-size: 1.571rem
    line-height: 2.285rem
    text-transform: uppercase
    letter-spacing: 0.49rem
    color: $gray
    text-align: right
    &:before
      content: ''
      display: inline-block
      margin-bottom: 0.5rem
      margin-right: 1.7rem
      margin-top: 0
      height: 1px
      width: 80px
      background-color: $gray
  &-left
    display: block
    +light
    font-weight: 200
    font-size: 1.571rem
    line-height: 2.285rem
    text-transform: uppercase
    letter-spacing: 0.49rem
    color: $gray
    text-align: left
    &:after
      content: ''
      display: inline-block
      margin-bottom: 0.5rem
      margin-left: 1.7rem
      margin-top: 0
      height: 1px
      width: 80px
      background-color: $gray
.line
  display: inline-block
  width: 20px
  height: 1px
  background-color: $light
  margin-bottom: 1.37rem
  margin-left: 0.7rem
  margin-right: -0.5rem

.city
  display: flex
  align-items: center
  background: transparent
  border: none
  color: $light
  +light
  font-size: 0.857rem
  letter-spacing: 1.05px
  cursor: pointer
  &:hover
    color: $primary
    text-decoration: underline
  &:before
    content: ''
    display: inline-block
    margin-right: 0.5rem
    width: 11px
    height: 14px
    background: url(../img/header/pointMap.svg) no-repeat center
  &:focus
    outline: none
