.header
  position: relative
  width: 100%
  heigth: 100vh
  &__slider
    width: 100%
    height: 100vh
  &__slide
    width: 100%
    height: 100vh
    z-index: -2
    // background: $dark url(../img/header/bg.jpg) no-repeat center / cover
    &--1
      width: 100%
      height: 100vh
      z-index: -2
      background: $dark url(../img/header/bg3.jpg) no-repeat center / cover
    &--2
      background: $dark url(../img/header/bg2.jpg) no-repeat center / cover
    &--3
      background: $dark url(../img/header/bg.jpg) no-repeat center / cover
    &--4
      background: $dark url(../img/header/bg4.jpg) no-repeat center / cover
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba($dark, 0.7)
      z-index: -1
  &__title
    margin-top: 1rem
    margin-bottom: 3rem
  &__btn
    &-group
      position: absolute
      top: 1rem
      right: 5.214rem
      display: flex
      z-index: 1
    &-next
      cursor: pointer
      &:hover
        opacity: 0.5
    &-prev
      margin-right: 2rem
      cursor: pointer
      &:hover
        opacity: 0.5
  &__gallery-thumbs
    position: absolute
    bottom: 3.214rem
    max-width: 63.35%
    width: 100%
    right: 5.214rem
    z-index: 2
  &__gallery-wrapper
    display: flex
    justify-content: space-between
  &__thumbs
    &-slide
      max-width: 14.285rem !important
      width: 100% !important
      padding-top: 0.2rem
      border-top: 4px solid $light
      cursor: pointer
      transition: 0.3s ease-in-out
      &:hover
        border-color: $primary
        color: $primary
      &:active
        border-color: $primary
      &:last-child
        margin-right: 0 !important
    &-content
      margin-top: 0.4rem
      display: flex
      justify-content: space-between
      align-items: center
    &-number
      +bold
      font-size: 1.714rem
    &-text
      +light
      font-size: 1.142rem
  &__go-surf
    position: absolute
    top: 0
    left: 0
    width: 32rem
    height: 22.28rem
    background: url(../img/header/go-surf.svg) no-repeat center
    z-index: 2
  &__aside
    position: absolute
    left: 0
    top: 0

.slide
  &__info
    position: absolute
    bottom: 8.215rem
    right: 5.214rem
    display: flex
    flex-direction: column
    &-text
      +bold
      font-size: 2.857rem
      line-height: 3.142rem
      text-transform: uppercase
      text-align: right
      margin-top: 1rem
      margin-bottom: 1.5rem
    &-link
      display: flex
      justify-content: flex-end
    &-icon
      cursor: pointer
      &:hover
        opacity: 0.5
.swiper-slide-thumb-active
  border-color: $primary

.aside
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  max-width: 168px
  width: 100%
  height: 100%
  background-color: transparent
  border-right: 1px solid rgba(#979797, 0.4)
  z-index: 2
  &__logo
    position: relative
    display: flex

    width: 100%
    height: 12.9rem
    background-color: $primary
    transition: 0.5s ease-in-out
    &:hover
      background-color: transparent
    &-text
      position: absolute
      bottom: 6px
      left: 50%
      display: inline-block
      width: 20rem
      +bold
      font-size: 4.285rem
      text-transform: uppercase
      margin-left: -10.15rem
      transform: rotate(-90deg)
      &:hover
        color: $primary
  &__date
    margin-bottom: 2.142rem
    &-day
      display: block
      +bold
      font-size: 5.142rem
    &-mounth
      +light
      font-weight: 100
      font-size: 1.142rem
      letter-spacing: 1.4px
    &-year
      +light
      font-weight: 100
      font-size: 1.142rem
      letter-spacing: 1.4px
  &__city
    margin-left: -0.8rem

.menu
  &__list
    display: flex
    flex-direction: column
    &-icon
      display: inline-block
      width: 53px
      height: 46px
      transition: 0.3s ease-in-out

      &--1
        background: url(../img/header/surf.svg) no-repeat center
        margin-bottom: 0.4rem
        &:hover
          background: url(../img/header/surf2.svg) no-repeat center
      &--2
        background: url(../img/header/travel.svg) no-repeat center
        margin-bottom: 0.3rem
        &:hover
          background: url(../img/header/travel2.svg) no-repeat center
      &--3
        background: url(../img/header/sleep.svg) no-repeat center
        &:hover
          background: url(../img/header/sleep2.svg) no-repeat center
      &--4
        background: url(../img/header/board.svg) no-repeat center
        margin-bottom: 0.4rem
        &:hover
          background: url(../img/header/board2.svg) no-repeat center
      &--5
        background: url(../img/header/search.svg) no-repeat center
        margin-bottom: 0.4rem
        &:hover
          background: url(../img/header/search2.svg) no-repeat center
    &-item
      display: flex
      flex-direction: column
      align-items: center
      font-size: 0.857rem
      letter-spacing: 3px
      margin-bottom: 2.5rem
      &:hover
        color: $primary
        text-decoration: underline
